htlm {
    font-family: 'Montserrat', sans-serif;
}
.main.xoa {
    display: flex;
}
#root {
    text-align: center;
    margin-top: 50px;
    

}
body{
    background-image: linear-gradient(to top right, #EB9FC0, #B83F8F, #2C2867);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.button {
    
    margin-top: 20px;
    padding: 5px 30px;
    border: 1px solid #b21065;
    border-radius: 20px;
    background-image: 
        linear-gradient(to bottom, #fff9, transparent 50% 90%, #f5cbbc99), /* lớp trên cùng làm hiệu ứng phủ sáng */
        repeating-linear-gradient(60deg,#bc058255 0 10px, transparent 10px 20px), /* lLớp này tạo ra một hiệu ứng đường kẻ lặp đi lặp lại */
        linear-gradient(to bottom, #EF08A6, #ee6c8f); /* lớp dưới cùng làm màu nền */
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 0 1px 0 #efb7de;
    box-shadow: 
        0 10px 0 #0005,
        0 5px 0 #BD1360,
        0 4px 0 7px #fff,
        0 0 30px 10px #e260ae;
    transition: 0.5s;
}
.button:active {
    box-shadow: 
            0 0px 0 #0005,
            0 0px 0 #BD1360,
            0 0px 0 7px #fff,
            0 0 30px 30px #e260ae;
        transform: translateY(5px);
}
.label {
    font-size: 20px;
    font-weight: 700;
}
.input {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-color: pink;
    box-shadow:5px rebeccapurple;
    border: 3px solid #ccc;
     background-color: #f2f2f2;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.ann {
    font-size: 30px;
    color: #fff;
}

.main{
    min-height: 100vh;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.wrap {
    width: 250px;
    margin: 2rem ;
    transform-style: preserve-3d;
    transform: perspective(100rem);
    cursor: pointer;
}
.item {
    --rX: 0deg;
    --rY: 0deg;
    --bX: 50%;
    --bY: 80%;
    max-width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    transform: rotateX(var(--rX)) rotateY(var(--rY));
    transition: 0.2s;
    box-shadow: 0 30px 20px #5555;
}
.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 30px 20px #5559;
    z-index: -1;
}
.heart-icon {
    color: red;
}